APOLLO_META_SERVER_ADDRESS=http://localhost:8080
APOLLO_APP_ID=test-app-id
APOLLO_USING_APP_SECRET=false
APOLLO_CLUSTER=default
APOLLO_ENV=DEV
APOLLO_NAMESPACES=application,common,test
APOLLO_TIMEOUT=5
APOLLO_CYCLE_TIME=30